<ul class="post-list">
    {{#each posts as |post|}}
    <li>
        <a href="/post/{{id}}" style="text-decoration: none; color: inherit;">
            {{> post-info post }}
        </a>
    </li>
    {{/each}}
</ul>